<div class="container">
  <div class="row">
    <div class="col-lg-10 mx-auto col-12 text-center mb-3">
      <h1 class="mt-0 text-primary">Our Menu</h1>
    </div>

    <div class="col-12 mt-4">
      <p class="lead text-center pb-4" style="color: #000;">Select your drink(s) to be tracked by your Virtual Bar!</p>

      <h3 class="text-center">Cocktails</h3>
      <hr class="accent my-5">
    </div>

    <div class="card-columns">
      <%= render "partials/drinks" %>
    </div>
  </div>
</div>
