<% @drinks.each do |drink| %>
  <div class="card card-body">
    <span class="float-right font-weight-bold">$<%= (1..20).to_a.sample %></span>
    <h6 class="text-truncate"><%= drink.drink_name %></h6>
  </div>
<% end %>
