<% if flash.length > 1%>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(flash[:errors].count, "error") %>.
    </div>
    <ul>
    <% flash[:errors].full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
