<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
  <ul class="list-group">
    <li class="list-group-item list-group-item-danger"><%= flash[:errors] %></li>
  </ul>
  <% end %>
<% end%>
