<% @user.drinks.get_drinks_from_tab.map do |drink| %>
  <div class="card card-body">
    <span class="float-right font-weight-bold">$<%= (1..20).to_a.sample %></span>
    <h6 class="text-truncate"><%= link_to drink.drink_name, drink %></h6>
  </div>
<% end %>
