<div class="jumbotron">
  <h1 class="display-4">VIRTUAL BAR!</h1>
  <p class="lead">This is an amazing application inspired by flatirons own TCF <strong>Dick Ward</strong></p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <%= button_to "signup", '/users/new', method: :get, class: 'btn btn-primary btn-lg' %>

</div>
